@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body antialiased;
  }
}

@layer utilities {
  .animate-bounce-in {
    animation: bounceIn 0.5s ease-out;
  }
  
  @keyframes bounceIn {
    0% {
      opacity: 0;
      transform: scale(0.3);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
    70% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
}
